<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    @Styles.Render("~/AdminLTE3-master/plugins/fontawesome-free/css/all.min.css")
    <!-- Ionicons -->
    @Styles.Render("~/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    <!-- Tempusdominus Bootstrap 4 -->
    @Styles.Render("~/AdminLTE3-master/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")
    <!-- iCheck -->
    @Styles.Render("~/AdminLTE3-master/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
    <!-- JQVMap -->
    @Styles.Render("~/AdminLTE3-master/plugins/jqvmap/jqvmap.min.css")
    <!-- Theme style -->
    @Styles.Render("~/AdminLTE3-master/dist/css/adminlte.min.css")
    <!-- overlayScrollbars -->
    @Styles.Render("~/AdminLTE3-master/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")
    <!-- Daterange picker -->
    @Styles.Render("~/AdminLTE3-master/plugins/daterangepicker/daterangepicker.css")
    <!-- summernote -->
    @Styles.Render("~/AdminLTE3-master/plugins/summernote/summernote-bs4.css")
    <!-- Google Font: Source Sans Pro -->
    @Styles.Render("~/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full height */
        }
    </style>
</head>
<body class="sidebar-mini sidebar-collapse" style="height: auto;">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper centered-content">

            @RenderBody()
        </div>

        <!-- /.content-wrapper -->

    </div>

    <!-- jQuery -->
    @Scripts.Render("~/AdminLTE3-master/plugins/jquery/jquery.min.js")
    <!-- jQuery UI 1.11.4 -->
    @Scripts.Render("~/AdminLTE3-master/plugins/jquery-ui/jquery-ui.min.js")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    @Scripts.Render("~/AdminLTE3-master/plugins/bootstrap/js/bootstrap.bundle.min.js")
    <!-- ChartJS -->
    @Scripts.Render("~/AdminLTE3-master/plugins/chart.js/Chart.min.js")
    <!-- Sparkline -->
    @Scripts.Render("~/AdminLTE3-master/plugins/sparklines/sparkline.js")
    <!-- JQVMap -->
    @Scripts.Render("~/AdminLTE3-master/plugins/jqvmap/jquery.vmap.min.js")
    @Scripts.Render("~/AdminLTE3-master/plugins/jqvmap/maps/jquery.vmap.usa.js")
    <!-- jQuery Knob Chart -->
    @Scripts.Render("~/AdminLTE3-master/plugins/jquery-knob/jquery.knob.min.js")
    <!-- daterangepicker -->
    @Scripts.Render("~/AdminLTE3-master/plugins/moment/moment.min.js")
    @Scripts.Render("~/AdminLTE3-master/plugins/daterangepicker/daterangepicker.js")
    <!-- Tempusdominus Bootstrap 4 -->
    @Scripts.Render("~/AdminLTE3-master/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")
    <!-- Summernote -->
    @Scripts.Render("~/AdminLTE3-master/plugins/summernote/summernote-bs4.min.js")
    <!-- overlayScrollbars -->
    @Scripts.Render("~/AdminLTE3-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/AdminLTE3-master/dist/js/adminlte.js")
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @Scripts.Render("~/AdminLTE3-master/dist/js/pages/dashboard.js")
    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/AdminLTE3-master/dist/js/demo.js")
</body>
</html>